voussoir.net/cv/*.jpg
voussoir.net/cv/*.png
voussoir.net/writing/**/*.fcstd
voussoir.net/writing/**/*.flac
voussoir.net/writing/**/*.gif
voussoir.net/writing/**/*.html
voussoir.net/writing/**/*.ino
voussoir.net/writing/**/*.jpg
voussoir.net/writing/**/*.mp4
voussoir.net/writing/**/*.pdf
voussoir.net/writing/**/*.png
voussoir.net/writing/**/*.scad
voussoir.net/writing/**/*.stl
voussoir.net/writing/**/*.svg
voussoir.net/writing/_unpublished/*
voussoir.net/writing/writing.atom
voussoir.net/writing/writing.rss
voussoir.net/photography/**/*.jpg
voussoir.net/photography/**/*.atom
